* {
	box-sizing: border-box;
}

.row {
	width: 100%;
	padding: 25px;
}

.col {
	background-color: cornflowerblue;
	border: 1px solid grey;
	float: left;
	position: relative;
	padding: 10px;
	min-height: 1px;
}

.col-lg-1 {
	width: 10%;
}

.col-lg-2 {
	width: 20%;
}

.col-lg-3 {
	width: 30%;
}

.col-lg-4 {
	width: 40%;
}

.col-lg-5 {
	width: 50%;
}

.col-lg-6 {
	width: 60%;
}

.col-lg-7 {
	width: 70%;
}

.col-lg-8 {
	width: 80%;
}

.col-lg-9 {
	width: 90%;
}

.col-lg-10 {
	width: 100%;
}

@media all and (max-width: 740px) {
	.col-sm-1 {
		width: 10%;
	}
	.col-sm-2 {
		width: 20%;
	}
	.col-sm-3 {
		width: 30%;
	}
	.col-sm-4 {
		width: 40%;
	}
	.col-sm-5 {
		width: 50%;
	}
	.col-sm-6 {
		width: 60%;
	}
	.col-sm-7 {
		width: 70%;
	}
	.col-sm-8 {
		width: 80%;
	}
	.col-sm-9 {
		width: 90%;
	}
	.col-sm-10 {
		width: 100%;
	}
}

@media all and (max-width: 640px) {
	.col {
		display: block;
		width: 100%;
		clear: both;
	}
}