* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #fff;
	height: 100%;
	font-family: sans-serif;
}

hr {
	border: 0;
    text-align: center;
    font-size: 50px;
}
hr:after {
    content: "\273D \273D \273D";
    color: lightgrey;
    letter-spacing: 15px;
}

h1 {
	font-size: 20px;
}

a {
	color: #2780e3;
	text-decoration: none;
}

a :visited {
	color: #2780e3;	
	text-decoration: none;	
}

.pull-left {
	float: left;
}

.pull-center {
	margin-left: auto;
	margin-right: auto;
}

.pull-right {
	float: right;
}

.default
{
	background-color: #BFB6AE;
}

.info {
	background-color: #02658C;
}

#content {
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
	padding: 20px;
	font-size: 12px;
	background-color: white;
}

#content:active {
	opacity: 0.5;
}